html { height: 100% }
body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-color: #BBB;
}

#header{
	width: 100%;
	height: 60px;
	background-color: #666;
	border-bottom: 1px solid #DDD;
}
#header a{
	display: block;
	text-align: center;
	position: relative;
	top: 15px;
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	color: #EEE;
}

#container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	/*background-color: #EEE;*/
	height: 100%;
	min-height:700px;
}

#map-canvas {
	height: 500px;
	width: 700px;
	
	position: absolute;
	z-index: 0;
	top: 110px;
	margin-left: 170px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
}

#button {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 120px;
	height: 35px;
	z-index: 100;
}


#buttonList{
	position: relative;
	top: 35px;
	right: 15px;
	margin-top: 0px;
	list-style-type:none;
}

#buttonList img{
	margin-left: 43px;
	height: 30px;
	width: 30px;
}

#buttonList p{
	margin-left: 25px;
	font-family:"impact";
}

.checkboxes{
	height: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
.checkboxes2{

}

#timeline{
	position: relative;
	top: 140px;
	left: 145px;
}

#brush {
	margin-top: 500px;
	background-color: #FF00FF;
	margin-left: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	padding-left: 5px;
	padding-right: 5px;
}

.axis text, .axis label {
    font-family: sans-serif;
    font-size: 16px;
}

#title{
	
	width: 100%;
	background-color: #888;

	margin: 0px;
	display: block;
	text-align: center;
	position: relative;
	text-decoration: none;
	font-size: 18px;
	font-family: sans-serif;
	color: #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
}

#infobox {
	position: absolute;
	top: 110px;
	right: 0;
	left: 870px;
	margin-right: auto;
	margin-left: auto;
	width: 210px;
	height: 500px;
	background-color: #DDD;
}

#infobox p{
	font-size: 15px;
	font-family: sans-serif;
	margin: 5px;
}

#infobox ol{
	position: absolute;
	left: 55px;
	top: 80px;
	list-style-type:none;
}

#infobox li{
	margin-top: 21px;
	font-size: 16px;
	list-style-type:none;
}

#infobox table{
	border-collapse: collapse;
	width: 200px;

}
#infobox td{
	padding-right: 5px;
}
#infobox tr{
	height: 45px;
	margin-top: 10px;
}

#loading {
	z-index: 100;
	position: absolute;
	background-color: #E9D9B3;
	height: 50px;
	width: 150px;

	top: 340px;
	left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-width: 1px;
	border-color: #444;
	text-align: center;
	font-family: sans-serif;

	visibility: hidden;
}